*{
  box-sizing: border-box;
}

$gold: #E4A34F;
$dark-gold: #C48745;
$brown: #534741;
$grey: #E6E6E6;
// fonts

$cursive: 'Parisienne', cursive;
$normal: 'Source Sans Pro', sans-serif;

//responsive

$lg: 1200px;
$md: 1023px;
$sm: 700px;
